.userlist {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-self: center;
    gap: 1rem;
    width: 65%;

    form {
        align-self: flex-start;
        margin-bottom: 0.5rem;

        input {
            outline: none;
            border: 1px solid #cccccc;
            padding: 0.6rem 0.8rem;
            padding-left: 3rem;
            width: 20rem;
            background-image: url('../../../assets/images/search.png');
            background-repeat: no-repeat;
            background-size: 18px;
            background-position: 14px center;
        }
    }

    h1 {
        font-size: 1.5rem;
        font-weight: normal;
        color: #404040;
    }

    hr {
        width: 100%;
    }

    .users-table-container {
        width: 100%;

        .users-table {
            width: 100%;

            thead {
                th {
                    height: 4rem;
                    cursor: pointer;
                }
            }

            tbody {
                text-align: center;
                align-items: center;

                td {
                    height: 4rem;
                }

                button {
                    padding: 0.8rem;
                    outline: none;
                    border: none;
                    border-radius: 2px;
                    font-size: 0.7rem;
                    background-color: transparent;
                    font-size: 1rem;
                }

                .delete {
                    color: red;
                }
            }
        }
    }

    .pagination {
        justify-content: center;
    }
}

@media screen and (max-width: 1250px) {
    .userlist {
        width: 80%;
    }
}

@media screen and (max-width: 1000px) {
    .userlist {
        width: 90%;
    }
}

@media screen and (max-width: 800px) {
    .userlist {
        .users-table-container {
            overflow-x: scroll;

            .users-table {
                width: 50rem;
                align-self: flex-start;
            }
        }
    }
}

@media screen and (max-width: 370px) {
    .userlist {

        form {
            width: 100%;

            input {
                width: 100%;
            }
        }
    }
}