.productlist {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-self: center;
    gap: 1rem;
    width: 65%;

    .list-header {
        display: flex;
        justify-content: space-between;
        width: 100%;
        margin: 0.5rem;
        align-items: flex-start;

        form {
            align-self: flex-start;

            input {
                outline: none;
                border: 1px solid #cccccc;
                padding: 0.6rem 0.8rem;
                padding-left: 3rem;
                width: 20rem;
                background-image: url('../../../assets/images/search.png');
                background-repeat: no-repeat;
                background-size: 18px;
                background-position: 14px center;
            }
        }
    }

    h1 {
        font-size: 1.5rem;
        font-weight: normal;
        color: #404040;
    }

    hr {
        width: 100%;
    }

    button {
        margin: auto 0;
        font-size: 1rem;
        background: transparent;
        border: none;
        font-weight: bold;
        display: flex;
        gap: 1rem;
        align-items: center;
        margin-right: 3rem;
        cursor: pointer;
    }

    .products-table-container {
        width: 100%;

        .products-table {
            width: 100%;

            thead {
                th {
                    height: 4rem;
                    cursor: pointer;
                }
            }

            tbody {
                text-align: center;
                align-items: center;

                td {
                    height: 4rem;
                }

                td:last-of-type {
                    display: flex;
                    justify-content: center;
                    padding-bottom: 0.6rem;

                    button {
                        margin: 0;
                        font-size: 1rem;
                    }
                }

                button {
                    padding: 0.8rem;
                    outline: none;
                    border: none;
                    border-radius: 2px;
                    font-size: 0.7rem;
                    background-color: transparent;
                    font-size: 1rem;
                    cursor: pointer;
                }

                .delete {
                    color: red;
                }
            }
        }

        .pagination {
            justify-content: center;
        }
    }
}

@media screen and (max-width: 1250px) {
    .productlist {
        width: 80%;
    }
}

@media screen and (max-width: 1000px) {
    .productlist {
        width: 90%;
    }
}

@media screen and (max-width: 800px) {
    .productlist {

        button {
            align-self: flex-start;
        }

        .products-table-container {
            overflow-x: scroll;

            .products-table {
                width: 50rem;
                align-self: flex-start;
            }
        }
    }
}

@media screen and (max-width: 800px) {
    .productlist {

        .list-header {
            flex-direction: column;
            gap: 2rem;
            margin-bottom: 2rem;
        }
    }
}

@media screen and (max-width: 370px) {
    .productlist {
        .list-header {
            form {
                width: 100%;

                input {
                    width: 100%;
                }
            }
        }
    }
}