.map {
    display: flex;
    justify-content: center;
    align-items: center;

    iframe {
        width: 70%;
        height: 25rem;
        border: none;
    }
}

@media screen and (max-width: 1200px) {
    .map {
        iframe {
            width: 80%;
        }
    }
}

@media screen and (max-width: 900px) {
    .map {
        iframe {
            width: 90%;
        }
    }
}