.footer-bg {
    background-color: #f8ecec;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 3rem;

    .footer {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        width: 60%;

        .footer-items {
            display: flex;
            justify-content: space-between;
            padding: 2rem;
            text-align: center;

            h4 {
                font-weight: normal;
            }

            a {
                font-size: 0.8rem;
            }

            .quick-links {
                display: flex;
                flex-direction: column;
                gap: 0.7rem;
            }

            .newsletter {
                display: flex;
                flex-direction: column;
                gap: 1rem;

                .input-name {
                    display: flex;
                    gap: 1rem;

                    input {
                        padding: 0.7rem;
                        outline: none;
                        border: 1px solid rgb(204, 204, 204);
                        width: 15rem;
                        border-radius: 3px;
                    }
                }

                .input-email {
                    display: flex;
                    gap: 1rem;

                    input {
                        padding: 0.7rem;
                        outline: none;
                        border: 1px solid rgb(204, 204, 204);
                        width: 20rem;
                        border-radius: 3px;
                    }

                    button {
                        border: none;
                        outline: none;
                        background: black;
                        color: white;
                        border-radius: 3px;
                        padding: 0.7rem;
                        width: 10rem;
                        cursor: pointer;
                    }
                }
            }

            .catalog {
                display: flex;
                flex-direction: column;
                gap: 0.7rem;

                a {
                    font-size: 0.8rem;
                }
            }
        }

        .sns-icons {
            display: flex;
            align-self: center;
            gap: 2rem;
        }

        .copyright {
            align-self: center;
            font-size: 0.8rem;
            margin-bottom: 4rem;
        }
    }
}

@media screen and (max-width: 1500px) {
    .footer-bg {
        .footer {
            width: 70%;
        }
    }
}

@media screen and (max-width: 1300px) {
    .footer-bg {
        .footer {
            width: 80%;
        }
    }
}

@media screen and (max-width: 1100px) {
    .footer-bg {
        .footer {
            width: 90%;
        }
    }
}

@media screen and (max-width: 1100px) {
    .footer-bg {
        .footer {
            .newsletter {
                .input-name {
                    input {
                        width: 13rem !important;
                    }
                }

                .input-email {
                    input {
                        width: 18rem !important;
                    }

                    button {
                        width: 8rem !important;
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 900px) {
    .footer-bg {
        .footer {
            .footer-items {
                flex-direction: column;
                gap: 4rem;

                .quick-links,
                .catalog {
                    flex-direction: row;
                    align-items: center;
                    justify-content: center;
                    gap: 3rem;

                    h4 {
                        font-weight: 500;
                    }
                }

                .newsletter {
                    width: 100% !important;

                    .input-name,
                    .input-email {
                        flex-direction: column;
                        width: 100%;

                        input {
                            width: 100% !important;
                        }

                        button {
                            width: 100% !important;
                        }
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 780px) {
    .footer-bg {
        .footer {
            .footer-items {

                .quick-links,
                .catalog {
                    flex-direction: row;
                    align-items: center;
                    justify-content: center;
                    gap: 2rem;

                    h4 {
                        font-weight: 500;
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 700px) {
    .footer-bg {
        .footer {
            .footer-items {

                .catalog {
                    display: none;
                }
            }
        }
    }
}

@media screen and (max-width: 600px) {
    .footer-bg {
        .footer {
            .footer-items {

                .quick-links {
                    flex-direction: column;
                    gap: 1rem;
                }
            }
        }
    }
}