.productslist {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 65%;
    align-self: center;
    gap: 1rem;
    margin-bottom: 5rem;

    h1 {
        font-size: 1.5rem;
        font-weight: normal;
        color: #404040;
    }

    hr {
        width: 100%;
    }

    .products {
        display: flex;
        flex-wrap: wrap;
        gap: 8rem;
        justify-content: flex-start;
        margin-top: 3rem;
        width: 100%;
    }
}