.aboutbanner {
    display: flex;
    align-items: center;
    position: relative;
    justify-content: center;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    height: 40rem;
    background-image: url(../../../assets/images/aboutbannerbg1.webp);
}