@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    // overflow-x: hidden;
}

.page {
    display: flex;
    flex-direction: column;
    gap: 3rem;
}

a {
    text-decoration: none;
    color: black;
}

button {
    cursor: pointer;
}

::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}

::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    background: #929292;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background: #929292;
}