.orderlist {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-self: center;
    gap: 1rem;
    width: 65%;

    h1 {
        font-size: 1.5rem;
        font-weight: normal;
        color: #404040;
    }

    hr {
        width: 100%;
    }

    .orders-table {
        width: 100%;

        thead {
            th {
                height: 4rem;
            }
        }

        tbody {
            text-align: center;
            align-items: center;

            td {
                height: 4rem;
            }

            button {
                background: black;
                color: white;
                padding: 0.8rem 1.2rem;
                outline: none;
                border: none;
                border-radius: 2px;
                font-size: 0.7rem;
            }
        }
    }
}