.header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 2rem;
    margin-bottom: 3rem;

    a {
        text-decoration: none;
        color: black;
    }

    .fixed-bar {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        position: fixed;
        top: 0;
        padding: 1rem 0;
        background-color: #fff;
        z-index: 99;

        .header-top {
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 65%;

            input {
                outline: none;
                border: 1px solid #cccccc;
                padding: 0.6rem 0.8rem;
                padding-left: 3rem;
                width: 20rem;
                background-image: url('../../../assets/images/search.png');
                background-repeat: no-repeat;
                background-size: 18px;
                background-position: 14px center;
            }

            ul {
                display: flex;
                list-style: none;
                gap: 2rem;
                position: relative;

                li {
                    font-size: 0.9rem;
                    cursor: pointer;
                }

                .admin-dropdown {
                    position: absolute;
                    right: -1rem;
                    top: 2rem;
                    background-color: white;
                    padding: 1rem;
                    width: 6rem;

                    ul {
                        display: flex;
                        flex-direction: column;
                        gap: 0.7rem;

                        li {
                            font-size: 0.8rem;
                        }
                    }
                }

                .user-dropdown {
                    position: absolute;
                    left: -1rem;
                    top: 2rem;
                    background-color: white;
                    padding: 1rem;
                    width: 6rem;

                    ul {
                        display: flex;
                        flex-direction: column;
                        gap: 0.7rem;

                        .title {
                            align-items: center;
                            justify-content: center;
                        }

                        li {
                            font-size: 0.8rem;
                        }
                    }
                }
            }
        }
    }


    .logo {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-transform: uppercase;
        gap: 0.2rem;
        letter-spacing: 2px;
        margin-top: 5rem;
        cursor: pointer;

        h6 {
            letter-spacing: 4px;
            color: #d15656;
        }

        .divider {
            width: 5rem;
            border-bottom: 1px #d15656 solid;
            padding-top: 0.3rem;
        }
    }

    .nav {
        width: 65%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: relative;

        .mobile-menu {
            display: flex;
            gap: 1rem;
            font-size: 1.2rem;
            align-items: center;
            padding-left: 1rem;
            margin-top: 5rem;
            cursor: pointer;
        }

        ul {
            list-style: none;
            display: flex;
            gap: 4rem;
            font-size: 0.8rem;
            margin-top: 4rem;
            font-weight: 500;
            text-align: center;
            align-items: center;

            li {
                padding: 0.7rem 0;
                display: flex;
                gap: 0.5rem;
                align-items: center;

                i {
                    cursor: pointer;
                }

                a {
                    display: flex;
                    align-items: center;
                    gap: 0.5rem;
                }
            }

            .narrow-dropdown-category {
                margin-top: 0;
                background: #f3ebeb;
                padding: 1rem;

                &.menu-hidden {
                    position: absolute;
                    top: 12.5rem;
                }

                li {
                    display: flex;
                    gap: 0.5rem;
                    align-items: center;

                    i {
                        padding-top: 0.25rem;
                        cursor: pointer;
                    }
                }

                .narrow-dropdown-subcategory {
                    margin-top: 0;
                    font-size: 0.9rem;
                    font-weight: 400;
                    padding-left: 1rem;
                }

                .newarrivals {
                    background: #924a4d;
                    width: 100%;
                    color: #fff;
                    font-weight: 400;
                }
            }
        }

        .dropdown {
            display: flex;
            flex-direction: column;
            opacity: 0;
            visibility: hidden;
            display: none;
            width: 100%;

            &.visible {
                opacity: 1;
                visibility: visible;
                transition: opacity 0.5s;
                z-index: 10;
                display: inline-block;
                position: absolute;
                top: 95%;
            }

            &.hidden {
                transition: opacity 0s;
            }

            .dropdown-items {
                display: flex;
                background: #f3ebeb;
                justify-content: space-evenly;
                align-items: flex-start;
                padding: 2.5rem 0 4rem 0;
                border-top: 1px solid #cccccc;
                overflow-x: auto;

                .category {
                    display: flex;
                    flex-direction: column;
                    gap: 1.5rem;
                    font-size: 0.9rem;
                    position: relative;
                    padding-left: 3rem;
                    padding-right: 2rem;

                    &:not(:last-child)::after {
                        content: '';
                        height: 17rem;
                        width: 1px;
                        position: absolute;
                        right: 0;
                        top: 0;
                        background-color: #cccccc;
                    }

                    .title {
                        font-weight: 500;
                        margin-bottom: 1rem;
                    }

                    a {
                        width: 10rem;
                    }
                }
            }

            .newarrivals {
                background: #924a4d;
                display: flex;
                justify-content: center;
                align-items: center;
                padding: 0.9rem;
                font-size: 0.8rem;
                cursor: pointer;

                a {
                    color: white;
                }
            }
        }
    }
}

.menu-hidden {
    max-height: 0;
    overflow: hidden;
    opacity: 0;
    transition: all 0.5s ease-out;
}

.menu-visible {
    max-height: 40rem;
    opacity: 1;
    transition: all 0.5s ease-in;
}

@media screen and (max-width: 1250px) {
    .header {
        .fixed-bar {
            .header-top {
                width: 80%;
            }
        }
    }
}

@media screen and (max-width: 850px) {
    .header {
        .fixed-bar {
            .header-top {
                width: 80%;
                flex-direction: column;
                gap: 1.5rem;

                ul {
                    width: 20rem;
                    justify-content: space-between;
                    padding: 0 0.6rem;

                    .admin-dropdown {
                        width: 7rem;
                    }

                    .user-dropdown {
                        width: 8rem;
                    }
                }
            }
        }

        .logo {
            margin-top: 9rem;
        }
    }
}

@media screen and (max-width: 650px) {
    .header {
        .nav {
            width: 100%;
            align-items: flex-start;

            ul {
                width: 100%;
                align-items: flex-start;
                flex-direction: column;
                gap: 0.5rem;
                margin-top: 1rem;

                li {
                    padding-left: 1rem;
                }
            }
        }
    }
}