.checkoutsteps {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    margin: 2rem 0;

    a {
        color: #924a4d;
        text-decoration: none;
        font-weight: 500;
    }

    a:last-of-type {
        font-weight: bold;
    }

    p {
        font-weight: 500;
    }
}