.recommended {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-self: center;
    gap: 1rem;
    width: 65%;

    h1 {
        font-size: 1.5rem;
        font-weight: normal;
        color: #404040;
    }

    hr {
        width: 100%;
    }

    .recommended-products {
        display: flex;
        justify-content: space-evenly;
        width: 100%;
        margin-bottom: 1rem;
    }
}